body {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    scroll-behavior: smooth;
    overflow-x: hidden;  
    background-color: #fff;  
}
::selection{
    background-color: #d4ca68;
    color: #ffffff;
}
.navbar{
    width: 100vw;
    position: fixed;
    top: 30px;
    left: 50px;
    z-index: 99999;
    transition: all 0.6s;
    
   
}
.navbar a  {
    position: relative;
    z-index: 9999999;
    text-decoration: none;
    color: black;
    font-weight: 650;
    font-size: 15px;
    text-transform: capitalize;
    display: inline-block;
    margin: 10px;
    transition: all 0.6s;

}

.logo{
     font-size: 20px !important;
     width: fit-content;
     position: relative;
     transition: 0.6s;
    }
   


.contact{
    color: #d4ca68 !important;
    width: fit-content;

}
.about,.services,.agent,.listing,.blog,.contact{
width: fit-content;
transition: all 0.3s;
}
.about:hover,.services:hover,.agent:hover,.listing:hover,.blog:hover,.contact:hover{
    color: #d4ca68  !important;

}
.right-nav p{
    font-weight: 650;
    font-size: 15px;
    text-transform: capitalize;
    margin-top: 10px;
    width: fit-content;
    margin-left: 5px;
    display: flex;
    flex-wrap: nowrap;
   text-align: center;
   color: black !important;
   cursor: pointer;
}
.fa-moon{
    margin-left: 5px;
}


.right-nav{
    width: 60vw;
    display: flex;
    justify-content: center;
   margin-right: 0;
   padding-left: 100px;
   margin-right: 10px;


}
.dropdown{
    display: none;
    text-align: center;
    border-radius: 5px;
    width: fit-content;
     margin-right: 70px;
     padding: 2px 5px ;
     position: static;

    }
   
.dropdown-menu{
    position: absolute !important;
    right: 0;
    z-index: 999999;
    border: none;
    width: 100vw;

}
.dropdown-toggle:focus{
    box-shadow: 0 0 0 0;

}
.items{
  transition: all 0.6s;
  

} 
.dropdown-menu .dark{
    font-weight: 650;
    font-size: 15px;
    text-transform: capitalize;
    margin-left: 25px;
    margin-top: 10px;
    cursor: pointer;
    padding-bottom: 10px;
}


.dropdown-item:hover{
    background-color: #fff;
    color: #d4ca68;
}

.display{
    display: block;
}

.fa-bars{
    color: #000000 ;
    outline-style: none;
    border: none;
    font-size: 20px;
}
.nav-scroll{
    background-color: #fff !important;
    position: fixed;
    z-index: 99999;
    width: 100vw;
    top: 0;
    left: 0;
    padding-left: 30px;
    box-shadow: 0 -7px 20px 0px black;
    border: 7px #d4c968c4  solid;

}
.nav-scroll a , .nav-scroll.logo{
    color: black;
 
}
.black{
    background-color: black;
    color: #fff;
}
.bg{
   
    height: 110vh;
    width: 100vw;
    background-image: url(bg_1.jpg.webp);
    position: relative;
    left: -15px;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 900px;
    
}

.lin::after{
    content: "";
    height: 110vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-image: linear-gradient(to right ,    #f7f2b4 -10%,
    transparent 100%);
    opacity: 0.3;
}
.lin::before{
    content: "";
    height: 110vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom ,    #ffffff -10%,
    transparent 100%);
    opacity: 0.3;
}
.container-fluid{
    width: 100%;
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: absolute;
    top: 50px;
}

form{
   background-color: #ffffff76;   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 9999;
    height: 560px;
}
label{
    color: black;
    font-weight: 900;
}
.form-control{
    max-width: 300px;
    padding: 10px;

}
.form-control , .message{
    outline: none;
    border: none;
    background-color: #c1c1c162;
}
.form-control:focus,.message:focus{
    outline: none;
    border: none;
    background-color: #c1c1c162;

}
.p1,.p2,.p3,.p4{
    margin: 0;
    display: none;
    color: red;
    font-size: 15px;
    text-align: left;
    margin-top: 5px;
    text-transform: capitalize;
  
  }
.message{
width: 400px;
}
.input{
    margin: 10px;
}
.send{
    margin-left: 45%;
    
    background-color: #d4ca68;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    transition: all 0.2s;

}

 .send:hover{
    margin-left: 45%;
    background-color: #d4ca68;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
   box-shadow: 2px 2px 10px #d4ca68;
   
  
  }
.alert{
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: rgba(255, 0, 0, 0.682);
    font-weight: 700;
}

footer{
    background-color: #d4ca68;
    color: #fff;
    padding-top: 20px ;
    width: 110%;
    margin-top: 130px;
}
.cont-footer{
    margin: auto;
    margin-left: -110px;
}
footer a{
    text-decoration: none;
}
footer i {
    margin-right: 5px;
}
.loca{
    display: flex;
}
.my-media{
    width: 500px;
   margin-top: 10px;
   padding-left: 30px;
}
.my-media i{

 font-size: 25px;

}















@media(max-width: 768px){

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #ffffff00;
}
.logo{
    color: black !important;
    margin-right: 0px;
}
.right-nav{
    display: none;
}
.dropdown{
    display: inline-block;
    margin-right: 30px;
    border: #fff 3px solid;

}
}
@media (min-width: 769px) and (max-width: 991px){
    .right-nav{
        margin-right: 52px;
        padding-left: 22px;
    }

}
@media (min-width: 992px) and (max-width: 1199px){
    /* md */
    .right-nav{
        margin-right: 62px;
    }

}